[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
altair = "*"
tableauscraper = "*"
altair-latimes = "*"

[dev-packages]

[requires]
python_version = "3.9"
