[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
numpy = "*"
altair = "*"
altair-latimes = "*"
regex = "*"
openpyxl = "*"
requests = "*"
pytz = "*"
DateTime = "*"
install = "*"
vega-datasets = "*"
imagecolor = "*"
python-slugify = "*"

[dev-packages]

[requires]
python_version = "3.9"
