[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
regex = "*"
openpyxl = "*"
python-slugify = "*"
pygsheets = "*"
requests = "*"
pytz = "*"
datetime = "*"
pandas = "*"
lxml = "*"
altair = "*"
altair-latimes = "*"

[dev-packages]

[requires]
python_version = "3.9"
